apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
spec:
  template:
    spec:
      containers:
      - name: manager
        ports:
        - containerPort: 8443
          name: metrics
        volumeMounts:
        - name: loki-operator-metrics-cert
          mountPath: /tmp/k8s-metrics-server/serving-certs
          readOnly: true
      volumes:
      - name: loki-operator-metrics-cert
        secret:
          defaultMode: 420
          optional: true
          secretName: loki-operator-metrics
      securityContext:
        runAsNonRoot: true
