name: Build operator image
on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      tag:
        required: true
        type: string
      registry:
        required: true
        type: string
      organization:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: "Login to DockerHub (from vault)"
        if: ${{ inputs.registry == 'docker.io' }}
        uses: "grafana/shared-workflows/actions/dockerhub-login@75804962c1ba608148988c1e2dc35fbb0ee21746"

      - name: "fetch openshift credentials from vault"
        if: ${{ inputs.registry != 'docker.io' }}
        uses: "grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760"
        with:
          repo_secrets: |
            OPENSHIFT_USER=openshift-credentials:username
            OPENSHIFT_PASS=openshift-credentials:password

      - name: Login to Quay.io
        if: ${{ inputs.registry != 'docker.io' }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: quay.io
          logout: true
          username: ${{ env.OPENSHIFT_USER }}
          password: ${{ env.OPENSHIFT_PASS }}

      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          # Context has to be inferred from the image name due to zizmor high warning:
          # > WARNING: may expand into attacker-controllable code
          context: ${{ inputs.image_name == 'loki-operator-bundle' && 'operator/bundle/openshift' || 'operator' }}
          file: ${{ inputs.dockerfile }}
          platforms: "linux/amd64,linux/arm64,linux/arm"
          push: true
          tags: ${{ inputs.registry }}/${{ inputs.organization }}/${{ inputs.image_name }}:${{ inputs.tag }}
